body {
  background-color: #28a745 !important;
  padding: 0 !important;
}

.title:after {
  content: "必须使用摄像头扫码";
  color: #FFEB3B;
}

.old-template {
  padding: 10% 0;
}

.impowerBox .status.normal {
  margin-top: 15px;
  background-color: #28a745;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  box-shadow: inset 0 5px 10px -5px #28a745, 0 1px 0 0 #28a745;
  -moz-box-shadow: inset 0 5px 10px -5px #28a745, 0 1px 0 0 #28a745;
  -webkit-box-shadow: inset 0 5px 10px -5px #28a745, 0 1px 0 0 #28a745;
}
